# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Environment-specific files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Local development files
terraform.tfvars
terraform.tfvars.json

# IDE-specific files
.idea/
*.iml
.vscode/

# Lock files for dependency managers
package-lock.json
Pipfile.lock

.env

./ssl